name: Add vsix link comment to issues
on:
  repository_dispatch:
    types: [Push vsix artifact pull release and comment - push - success]

jobs:
  vsix-comments:
    name: Add vsix link comment to issues
    runs-on: windows-2019
    steps:
      - name: Add vsix link comment to issues
        uses: tonyhallett/artifacts-url-comments@v1.1.0
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            workflowPayload: ${{toJson(github.event.client_payload)}}
            prefix: Please try 
            suffix: Does this resolve your issue ?
            format: name
            addTo: pullandissues
      
      

